@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

/* 设置活动行号的颜色和发光效果 */
div.active-line-number {
  --vscode-editorLineNumber-activeForeground: #fff !important;
  text-shadow: 0 0 5px currentColor !important;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #eacd61,
    #ea618e,
    #3cec85,
    #61afea
  );
  animation: tabBorderTopMoveGradient 2s infinite alternate;
}
