/* 快速输入小部件样式 */
div.quick-input-widget {
  --vscode-quickInput-background: transparent !important;
  backdrop-filter: blur(20px) brightness(100%) !important;
}

/* 输入框样式 */
div.monaco-inputbox {
  --vscode-input-background: transparent !important;
}

/* 聚焦状态样式 */
div.focused {
  --vscode-quickInputList-focusBackground: #04395e80 !important;
}
