/* 设置编辑器悬浮提示框样式 */
div.monaco-hover {
  --vscode-editorHoverWidget-background: rgba(38, 48, 66, 0.6) !important;
  backdrop-filter: blur(6px) brightness(140%) !important;
}
/* git 待提交数量徽章样式 */
.activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .badge
  .badge-content {
  background-image: linear-gradient(45deg, #ff61d2, #ffa5a4);
  border-width: 0 !important;
  color: rgb(70 70 70) !important;
}
@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

/* 设置活动行号的颜色和发光效果 */
div.active-line-number {
  --vscode-editorLineNumber-activeForeground: #fff !important;
  text-shadow: 0 0 5px currentColor !important;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #eacd61,
    #ea618e,
    #3cec85,
    #61afea
  );
  animation: tabBorderTopMoveGradient 2s infinite alternate;
}
/* 快速输入小部件样式 */
div.quick-input-widget {
  --vscode-quickInput-background: transparent !important;
  backdrop-filter: blur(20px) brightness(100%) !important;
}

/* 输入框样式 */
div.monaco-inputbox {
  --vscode-input-background: transparent !important;
}

/* 聚焦状态样式 */
div.focused {
  --vscode-quickInputList-focusBackground: #04395e80 !important;
}
/* 字体微弱渐变效果 */
:not(.cursor)[class^="mtk"] {
  /* text-shadow: 0 0 1px currentColor !important; */
  font-weight: 550;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background-size: 200%; */
  background-image: linear-gradient(
    to right,
    currentColor,
    currentColor,
    color-mix(in oklab, currentColor, #000 15%),
    currentColor,
    currentColor,
    color-mix(in oklab, currentColor, #000 15%),
    currentColor,
    currentColor
  );
  /* animation: tabBorderTopMoveGradient 2s infinite alternate; */
}

@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
/* 选中标签栏上边框 */
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active {
  --tab-border-top-color: transparent !important;
  position: relative;
}

.tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: linear-gradient(
    to right,
    #eacd61,
    #ea618e,
    #3cec85,
    #61afea
  );
  animation: tabHueShift 3s infinite linear;
  background-size: 200%;
}

@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

@keyframes tabHueShift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
